*{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
}

.first-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
    padding: 10px 20px;
    height: 500px;
}

.header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 50px;
}

.hero-text{
    display: flex;
}

.header > .header-item{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

h1{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-bottom: 0;
}

.hero-text{
    display: flex;
    max-width: 70%;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
}

.main-text{
    max-height: 90%;
    flex: 1;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.link, .secondary-text, .sign-up{
    font-size: 18px;
    color: #E5E7EB;
}

.secondary-text{
    margin: 2px;
}

.placeholder-img{
    flex: 1;
    display: flex;
    background-color: grey;
    color: white;
    justify-content: center;
    align-items: center;
    width: 250%;
    height: 250px;
}

.sign-up{
    text-align: center;
    background-color: #3882F6;
    padding: 10px;
    border-radius: 8px;
    max-width: 120px;
    font-weight: bold;
    flex: 1;
}

.second-section{
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-bottom: 100px;
}

.title{
    display: flex;
    justify-content: center;
}

.images{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.image{
    border: 5px solid #3882F6;
    border-radius: 15px;
    width: 160px;
    height: 160px;
}

.group{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 13%;
}

.subtext{
    color: #1F2937;
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 50px;
}

.third-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    height: 500px;
}

.quote{
    flex-direction: column;
    align-items: center;
    max-width: 55%;
    max-height: 60%;
}

.text > p{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.end{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.fourth-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 90px;;
}

.call-to-action{
    width: 80%;
    height: 200px;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button > .sign-up{
    border: 2px solid white;
    margin: 0 auto;
}

.call-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 30%;
    flex: 2;
    color: #F9FAF8;
    font-size: 25px;
}

.call-text > p{
    text-align: left;
    margin: 0 auto;
}



